page-signup {
  .input_holder{
    position:relative;
    border-bottom: 1px solid #126092;
  }
  .input_holder .left-icon{
    position: absolute;
  }
  .input_holder input{
    width:calc(100% - 30px);
  }
  .email_valid_icon{
    position: absolute;
    width: 15px;
    top: 12px;
    height: 15px;
    right: 10px;
  }
  .green-border{
    border:1px solid #0f0;
  }
  .red-border{
    border:1px solid #f00;
  }

}
