page-report-card {
  .correct-answer-holder{
    text-align: center;
    font-size: 2rem;
    color: #126092;
    margin-bottom: 10px;
  }
  .wrong-answer-holder{
    text-align: center;
    font-size: 2rem;
    color: #126092;
    margin-bottom: 10px;
  }
  .view-answers-link{
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
  }
}
